{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<header class = "header">
    <div class = "cont">
        <div class = "logo">
            <img src = "{% static 'images/logoH.png' %}" alt = "logo">
            <h2> KON_shop </h2>
        </div>
        <div class="burger-menu" onclick="toggleMenu()">
            ☰
        </div>
        
        <nav class = "nav">
            <ul>
                <li><a href = "{% url 'home' %}">Главная</a></li>
                <li><a href = "{% url 'item_list' %}">Каталог</a></li>
                <li><a href = "#">О нашем магазине</a></li>
                <li><a href = "#">Контакты</a></li>
                <li><a href = "{% url 'cart_view' %}">Корзина</a></li>
            </ul>
        </nav>
    </div>
</header>