{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нашем магазине</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include "header.html" %}
    <div class = 'cont'>
    <main>
        <h2>В наших заказах вы всегда найдете качественный товар</h2> 
        <p>Наше доверие к брендам и ваше доверие к нам основано на одном — на безупречном качестве. Мы гарантируем, что каждая пара в нашем каталоге прошла строгий отбор и готова стать частью вашей активной жизни, обеспечивая поддержку, амортизацию и современный внешний вид.</p>
</div>   
</body>
</html>