<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include "header.html" %}
    <div class = "cont"> 
    <h1> Здесь вы сможете найти подходящую вам пару... </h1>
    <ul>
        {%for item in items%}
        <li>
            <h2>{{item.name}}</h2>
            <p>Цена: ${{item.price}}</p>
            <p>Количество: {{item.stock}}</p>
            <img src = "{{item.image.url}}" alt = "{{item.name}}" width = "200">
            <p>Описание: {{item.info}}</p>
            <a href="{% url 'add_to_cart' item.id %}" class="btn btn-primary">Добавить в корзину</a>
        </li> 
        {%endfor%}
    </ul>
    </div>
    <script>
        function toggleMenu() {
            document.querySelector(".nav").classList.toggle("show");
        }
        
    </script>
    
</body>
</html>